<div layout="row" layout-padding="" layout-wrap="" layout-fill="" ng-cloak="" class="whiteframedemoBasicUsage" >
    <md-whiteframe class="md-whiteframe-1dp" layout-align="center" >
        <md-content>
            <div layout="row" layout-sm="column">
                <div flex style="margin:10px;">
                    <center>
                    	<img src="https://www.paybook.com/lib/img/paybooklogo.svg" width="70%" />
                    </center>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>