<div ng-controller="SettingsCtrl as settings" layout="row" layout-padding="" layout-wrap="" layout-fill="" ng-cloak="" class="whiteframedemoBasicUsage" >
    <md-whiteframe class="md-whiteframe-1dp" layout-align="center" >
        <md-content>
            <div layout="row" layout-sm="column">
                <div flex style="margin:10px;">
                    <span>Accounts</span>
                    <center>
                        <md-switch ng-model="settings.widget" aria-label="Widget" ng-change="settings.changeWidget()">
                            Widget: {{ setting.wiget }}
                        </md-switch>
                    </center>
                </div>
                <div flex style="margin:10px;">
                    <span>Administration</span>
                    <div id="paybook-container"></div>
                </div>
                
            </div>
        </md-content>
    </md-whiteframe>
</div>